.button {
  border: none;
  width: 100%;
  max-width: 200px;
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    opacity: 0.6;
  }

  &__rounded {
    height: 35px;
    border-radius: 30px;
    font-size: 16px;
  }

  &__default {
    height: 33px;
    border-radius: 2px;
    font-size: 14px;
  }

  &__blue {
    background: #3D405B;
    color: white;
  }

  &__light_blue {
    background: #D7D8EF;
    color: #7a4c7e
  }

  &__pink {
    background-color: #c7517b;
    color: white;
  }
}
