@import "../../../styles/mixins";

.button {
  border: none;
  width: 100%;
  max-width: 200px;
  height: 35px;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  background: var(--background-gradient);
  background-size: 200% 200%;
  color: white;
  @include animation-bgc;

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.6;
  }

  &__rounded {
    border-radius: 30px;
  }

  &__default {
    border-radius: 2px;
  }
}
