@import "../../../styles/variables";

.about {
  &__title {
    text-align: center;
    font-size: 55px;
    color: var(--title-color);
    margin-bottom: 15px;
  }

  &__subtitle {
    text-align: center;
    font-size: 35px;
    color: var(--title-color);
  }

  &__body {
    width: 100%;
    display: flex;
    margin-top: 50px;
  }

  &__column {
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__background {
    margin-top: -20px;
    background-image: url("../../../assets/icons/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
    height: 100%;
    width: 100%;
    animation: App-logo-spin infinite 20s linear;
  }

  &__image {
    height: 200px;
    width: 200px;
    animation: App-logo-spin infinite 20s linear;
  }

  &__btn {
    position: relative;
    z-index: 1000;
  }

  pre {
    color: var(--text-color);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
